
        body,
        html {
            font-family: 'Poppins', sans-serif;
            background-color: black;
            color: white;
        }


        .w3-card {
            font-family: 'Poppins';
            background-color: #004c46;
            color: white;
            border: none;
            overflow: hidden;
            text-align: left;
            display: inline-block;
            width: 100%;
            margin-bottom: 8px;
            border-radius: 15px;
        }

        button {
            background-color: #1a1a1a!important;
            border-radius: 100vmin;
        }

        .w3-card h3 {
            font-weight: 900;
            font-family: 'DM Sans';
        }

        .w3-card h3 i {
            display: inline-block;
            line-height: 1;
            margin-right: 5px;
            font-weight: 100;
        }

        h1, h2, h3, h4 {
            font-family: 'Poppins', sans-serif;
        }

        .w3-card p {
            padding: 5px;
            padding-left: 0px;
            padding-right: 0px;
            margin-top: 10px;
            font-size: 15px;
        }

        .w3-card button {
            width: 100%;
            box-sizing: border-box;
            background-color: #fec62c!important;
            border: none;
            border-radius: 0px;
            font-weight: bolder;
            padding: 10px;
            cursor: pointer;
            color: black;
            margin-bottom: 15px;
            border-radius: 100vmin;
        }

        .w3-card button:hover {
            transform:scale(1.025);
        }

        #discordbutton, #discordbutton2 {
            font-weight: bold;
            font-family: 'DM Sans', sans-serif;
            width: fit-content;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 10px 30px;
            background-color: #5865F2 !important;
            max-width: 95%;
            font-size: 20px !important;
            margin-bottom: -7.5vh;
        }

        #discordButton:hover, #discordbutton2:hover {
            color:white!important;
            transform:scale(1.1);

        }

        .big-title {
            font-weight: 900;
            filter: drop-shadow(5px 5px 0px #014C46);
            font-size: 47.5px !important;
        }

        .w3-card hr {
            margin: 0px;
            border: 1px solid #fec62c;
            color: #fec62c;
            outline-color: #fec62c;

        }


        #mySidebar {
            font-family: 'Poppins', sans-serif;
            display: none;
            position: fixed;
            z-index: 1000000;
            left: 0;
            top: 0;
            height: 100%;
            width: 250px;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.3s;
            padding-top: 0px !important;
        }

        #closebutton {
            border-radius: 0px;
            color: white;
            background-color: #014C46 !important;
            width: 100%;
            text-align: right;
            margin: 0px;
            vertical-align: top;
            margin-bottom: 10px;
        }

        #logo {
            border-radius: 100%;
            width: 100%;
            max-width: 50vh;
            box-sizing: border-box;
            border: 30px solid black;
        }

        ul {
            padding-left:17.5px;
        }